/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/

@font-face {font-family: "Avenir LT Pro"; 
  src: url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.eot"); 
  src: url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.eot?#iefix") format("embedded-opentype"), 
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.woff2") format("woff2"), 
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.woff") format("woff"), 
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.ttf") format("truetype"), 
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.svg#Avenir LT Pro") format("svg"); }

.container
{
    width: 1548px;
    margin: 0 auto;
    padding: 20px;
      border: none;

  /*width: 50%;*/
}

/*banner*/


  /* 调整其他元素的样式 */
  .banner {
    position: relative;
    width: 100%;
    height: 376px;
    /* 自定义高度 */
    overflow: hidden;
    margin-bottom: 20px;


  }
.banner-image {
  width: 100%;
  height: 100%;

}
  /*.banner img {*/
  /*  width: 100%;*/
  /*  height: auto;*/
  /*  display: block;*/
  /*  object-fit: cover;*/
  /*}*/

  /*shop div*/
  .shop-div {
    /* display: flex; */
    overflow: auto;
    padding: 20px;
    background-color: #f9f9f9;

  }

  .shop-info{
    width: 580px;
    float: left;
  }
.shop-logo {
  width: 167px; /* Adjust the height value as needed */
  float: left;
  margin-right: 30px;
}
  .shop-details{
    vertical-align: bottom;
  }
    .shop-name{
      font-size: 32px;
      padding-bottom: 10px;
      font-weight:500;
    }
    .shop-desc{
      font-size: 14px;
      padding-bottom: 10px;
    }
  .shop-address{
    font-size: 14px;
    padding-bottom: 8px;
  }
  .shop-sales {
    margin-top: 10px;
    margin-right: 10px;
    float: left;
    vertical-align: middle;
    font-size: 14px;
  }
  .shop-rating {
    margin-top: 10px;
    margin-right:10px ; 
  }
  .shop-rating img{float: left

   }
  .shop-rating-star {
    margin: 0;
  }


  .follow-button {
    margin-left: 15px;
    display: inline-block;
    color: #1c1b1b;
    padding: 10px 20px 10px 20px;
    font-size: smaller;
    position: relative;
    border:1px solid #5d5d5d;
    /*background-color: #f1eeee;*/
    border-radius: 30px;
    overflow: hidden;
    /* height: 35px; */
  }


  .add-fav {
    display: inline-block;
    padding: 6px 20px 6px 20px;
    cursor: pointer;
    border: 2px solid #5d5d5d;
    background: #ffffff;
    position: relative;
    transition: all .5s ease;
    border-radius: 25px;
    margin-left:10px;
    
    }
  
    .icon-heart {
      font-size: 24px;
      color: #5d5d5d;
      position: relative;
      transition: all .5s ease-in-out;
    }
    
    .add-fav span {
      font-size:13px;
      padding-left:3px;
      font-weight: bold;
      vertical-align:20%;
    }
  
  
    input[type="checkbox"] { 
      position: absolute;
      opacity: 0;
      &:checked + .icon-heart {
        color: red;
        .icon-plus-sign {
          display:none;
        }
      }
    }
.shop-features {
  float: left;
  width: 690px;
  margin-top: 30px; /* 添加空白间距 */
  margin-bottom: 10px; /* 添加空白间距 */
  align-items: center;
  justify-content: center;
  text-align: center;
}

.delivery {
    float: left;
    width:230px;
    padding-top: 5px;
    }
  .cs {
    float: left;
    width:230px;
  }
  .rave-review {
    float: left;
    width:230px;
  }
.shop-contact {
  float: right;
  text-align: center;
  font-size: 14px;
}
.shop-contact-img {
  padding-bottom: 10px;
}

  /*.follow-button::before {*/
  /*  content: "\2665";*/
  /*  position: absolute;*/
  /*  left: 5px;*/
  /*}*/
.follow-button {
  background-color: white;
  padding: 10px 10px;
  border: 2px solid gray;
  color: black;
  font-size: 15px;
  cursor: pointer;
}
.follow-button img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
    /*.follow-button::before {*/
    /*  background-image: url(images/icon-heart.jpg);*/
    /*}*/

  .shipping-icon {
    margin-right: 5px;
    /* 可调整图标和文本之间的间距 */
    width: 20px;
    /* 可根据图标尺寸调整宽度 */
    height: 20px;
    /* 可根据图标尺寸调整高度 */
        max-width: 100%;

  }
  .contact-img{
    max-width: 122px;
    border-radius: 61px;

  }
  .name {
      margin-top: 10px; /* 添加空白间距 */
     font-weight: bold;
    font-size: 20px;


    }

  .text-container {
    text-align: center;
  }
  .delivery img{ text-align: center}
  .text-above{
      font-size: 16px;
      margin-top: 5px;
    }
  .text-below{
    font-size: smaller;
    margin-top: 10px;
  }
  .text-below img {
    padding-right: 5px;
    vertical-align: middle;
  }
  .shipping-icon {
    max-width: 100%;
  }


    .logo {
      float: left;
      margin-right: 10px;
    }

    .details {
      margin-left: 10px;
    }

    .details p {
      margin: 0;
    }

    .address {
      margin-top: 5px;
    }
    .desc {
      margin-top: 5px;
      font-size: smaller;
    }
 /*left and right column*/
  .container1 {
    clear: both;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    }
/*left column  */
.left-column {
      display: flex;
      flex-direction: column;
      margin-right: 25px;
    }

    .search-bar {
      margin-bottom: 10px;
    }


/* scrollbar  */
  .container-nav {
    height: 200px;
    /*width: 300px;*/
    overflow: auto;
  }

  .container-nav::-webkit-scrollbar {
    width: 3px;
  }

  .container-nav::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .container-nav::-webkit-scrollbar-thumb {
    background-color: #888;
    /*height: 1px; !* 设置滚动条滑块的高度 *!*/
    width: 3px; /* 设置滚动条滑块的宽度 */

  }

  .container-nav::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    }

.navbar {
  list-style-type: none;
  padding:0;
  margin: 0;
  background: white;
  mix-blend-mode: difference;
}


    .navbar li {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;
      padding-right: 20px;;
      line-height: 30px;;

    }


    .navbar li a {
      display: inline-block;
      color: black;
      text-decoration: none;
    }

    .navbar li span {
      float: right;
    }



  /*search bar*/
  .search-bar {
    display: flex;
    align-items: center;
    padding-bottom: 25px;
  }
  .search-input {
      padding: 12px;
      padding-right: 25px; /* 调整输入框右侧的内边距，以给图标留出空间 */
      border: 2px solid #b2b2b2;
      border-radius: 25px;
      background-image: url('images/icon_search1.jpg');
      background-position: 10%;
      background-repeat: no-repeat;
      background-size: 18px;
    }


  .search-bar button {
    border: none;
    background: none;
    margin-left: 8px;
    padding: 4px;
    cursor: pointer;
  }

  /*feature item*/


  /* featured items 表格样式 */

  .featured-container {
    overflow: hidden;
  }

  .featured-label {
    float: left;
    font-weight: bold;
    font-size: 22px;

  }

  .featured-content {
    float: right;
    background-color: white;
  }
  .featured-content select {
    border-radius: 3px;  /* 设置边框圆角为5像素 */
  }
  .featured-content select option:checked {
    background-color: gray;  /* 设置选中的选项背景颜色为灰色 */
  }
  /* 横线样式 */
  .horizontal-line {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-bottom: 50px;
  }

  /*product*/



.product-section {
  display: flex;
  flex-direction: column;

}

.product-category {

  flex: 0 0 50%; /* 每个类别占据一半宽度，可以根据需要调整宽度 */
}

.product-all{

  flex: 0 0 50%; /* 每个类别占据一半宽度，可以根据需要调整宽度 */
  margin-top:50px;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: 25%; /* 每行显示两个产品，可以根据需要调整宽度 */
    flex-grow: 0;
  flex-basis: auto;
  /*width: auto;*/
  padding: 10px; /* 可选，用于添加间距 */
  box-sizing: border-box;
  /* 添加其他产品项样式 */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}
  .product-wrapper{
    position : relative;
  }
  .product-image img {
    max-width: 100%;
    height: auto;
    position : absolute;
  }


  .like-icon {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 28px;
    height: 26px;
    background-image: url(images/icon-heart.png);
    background-size: cover;
  }
  .best-seller {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 104px;
    height: 30px;
    background-image: url(images/icon-BestSeller.jpg);
    background-size: cover;
}
.product-details {
  padding-top: 30px;
    word-wrap: break-word;
  overflow-wrap: break-word;
    display: inline-block;
  width: 100%;
}
/*.add-button-container {*/
/*  margin-top: 10px; !* 可根据需要调整按钮与产品之间的间距 *!*/
/*}*/
/*.add-button {*/
/*  border-radius: 10px;*/
/*background-color: white;*/

/*}*/

.add-button-container {
  margin-top: 35px; /* 可根据需要调整按钮与产品之间的间距 */
  display: flex;
  align-items: center;
}

.add-button {
  border-radius: 25px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 20px 12px 20px;
  border: solid;
  color: #2d2d2d;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid #2d2d2d;
}

.add-button::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  background-image: url("images/icon-plus.jpg"); /* 加号图标的路径 */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 5px;
}
.product-description {
  word-break: break-word; /* 让文本根据容器宽度自动换行 */
  font-size: 16px;
  padding-bottom: 10px;
}

  .original-price {
    text-decoration: line-through;
    font-size: 0.9em;

  }

  .discount {
    color: red;
    font-size: 0.9em;

  }

  .rating {
    color: gold;
  }

  .price {
    font-size: 1.5em;
  }


  /* pagination */
  .pagination-center {
    text-align: center;
    border-radius: 10px;
    /*padding-top: 80px;*/
    padding-top: 80px;
    justify-content: center;


  }
    .pagination {
      /*display: flex;*/
      list-style-type: none;
      justify-content: center;
      align-items: center;
      display: inline-block;
      margin: 0;
      border-radius: 35px;
      border: 1px solid #d6d6d6; /* 添加边框样式 */
      padding:10px;
      font-size: 18px;
    }


.pagination li {
  display: inline;
  padding: 0;
  /*margin: 0;*/
  margin: 0 0 0 0; /* 设置页码左右的间距 */

}
.pagination li:not(:first-child):not(:last-child) a:hover {
  border: 1px solid black;
}

.pagination li:first-child {
  margin-left: 0; /* 第一个页码不设置左侧间距 */
}

.pagination li:last-child {
  margin-right: 0; /* 最后一个页码不设置右侧间距 */
}
    /*.pagination li {*/
    /*  flex: 1;*/
    /*}*/
    .pagination .arrow {
    display: inline-block;
    padding: 8px 16px;
    /*margin: 0 4px;*/
      margin: 0;

    }
    .pagination li a {
      display: block;
      text-align: center;
      /*border: 2px solid #d6d6d6;*/

      color: black;
    float: left;
    padding: 8px 16px;
    /* width: ; */
    text-decoration: none;
    /*transition: background-color .3s;*/
    margin: 0 0;
      border:none;
    }
    
    /*.pagination li a:hover {*/
    /*  border: 1px solid black;*/
    /*}*/
    
    .pagination li.active a {
      /* border: 2px solid #4CAF50; */
      border: 1px solid #4CAF50;
    color: black;
    }