.container
{
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    /*border: 1px solid #ccc;*/
      border: none;

  /*width: 50%;*/
}

/*banner*/


  /* 调整其他元素的样式 */
  .banner {
    position: relative;
    width: 100%;
    height: 200px;
    /* 自定义高度 */
    overflow: hidden;
    margin-bottom: 20px;


  }
.banner-image {
  width: auto;
  height: auto;

}
  /*.banner img {*/
  /*  width: 100%;*/
  /*  height: auto;*/
  /*  display: block;*/
  /*  object-fit: cover;*/
  /*}*/

  /*shop div*/
  .shop-div {
    display: flex;
    margin-up: auto; /* 添加空白间距 */
    margin-bottom: 10px;
    background-color: #efeeee;

  }


  .item {
    margin-right: 10px;
    /* 可调整项之间的间距 */
    display: flex;
    align-items: center;

  }
  .follow-button {
    display: inline-block;
    padding: 10px;
    color: #1c1b1b;
    font-size: smaller;
    text-decoration: none;
    position: relative;
    border: 1px solid #000;

    background-color: #f1eeee;

    border-radius: 20px;
    border-width : 0.5px;
    overflow: hidden;
  }

  /*.follow-button::before {*/
  /*  content: "\2665";*/
  /*  position: absolute;*/
  /*  left: 5px;*/
  /*}*/
    .follow-button::before {
    content: "\2665";
    color: red;
  }

  .shipping-icon {
    margin-right: 5px;
    /* 可调整图标和文本之间的间距 */
    width: 20px;
    /* 可根据图标尺寸调整宽度 */
    height: 20px;
    /* 可根据图标尺寸调整高度 */
        max-width: 100%;

  }
  .contact-img{
    max-width: 100%;

  }
  .name {
      margin-top: 10px; /* 添加空白间距 */
     font-weight: bold;
    font-size: 20px;


    }

  .item1 {
               display: flex;
      margin-top: 10px; /* 添加空白间距 */
      margin-bottom: 10px; /* 添加空白间距 */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
  }


  .text-container {
    text-align: left;
  }
  .text-below{
    font-size: smaller;


  }
  .shipping-icon {
    max-width: 100%;
  }


    .logo {
      float: left;
      margin-right: 10px;
    }

    .details {
      margin-left: 10px;
    }

    .details p {
      margin: 0;
    }

    .address {
      margin-top: 5px;
    }
    .desc {
      margin-top: 5px;
      font-size: smaller;
    }
    .sales {
      margin-top: 5px;
    }
 /*left and right column*/
  .container1 {
      display: flex;
      flex-direction: row;
      /*margin-up:40px;*/
    }
/*left column  */
.left-column {
      display: flex;
      flex-direction: column;
    }

    .search-bar {
      margin-bottom: 10px;
    }

    .navbar {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }

    .navbar li {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      margin-bottom: 10px;

    }


    .navbar li a {
      display: inline-block;
        color: black;
      text-decoration: none;
    }

    .navbar li span {
      float: right;
    }


  /*search bar*/
  .search-bar {
    display: flex;
    align-items: center;
  }
  .search-input {
      padding: 5px;
      padding-right: 25px; /* 调整输入框右侧的内边距，以给图标留出空间 */
      border: 1px solid #ccc;
      border-radius: 4px;
      background-image: url('images/icon_search.jpg');
      background-position: left center;
      background-repeat: no-repeat;
      background-size: 18px;
    }


  .search-bar button {
    border: none;
    background: none;
    margin-left: 8px;
    padding: 4px;
    cursor: pointer;
  }

  /*feature item*/


  /* featured items 表格样式 */

  .featured-container {
    overflow: hidden;
  }

  .featured-label {
    float: left;
    font-weight: bold;

  }

  .featured-content {
    float: right;
  }


  /* 横线样式 */
  .horizontal-line {
    border-top: 1px solid #ddd;
    margin-top: 20px;
  }

  /*product*/



.product-section {
  display: flex;
  flex-direction: column;

}

.product-category {
  flex: 0 0 50%; /* 每个类别占据一半宽度，可以根据需要调整宽度 */
}

.product-list {
  display: flex;
  flex-wrap: wrap;
}

.product-item {
  width: 25%; /* 每行显示两个产品，可以根据需要调整宽度 */
    flex-grow: 0;
  flex-basis: auto;
  /*width: auto;*/
  padding: 10px; /* 可选，用于添加间距 */
  box-sizing: border-box;
  /* 添加其他产品项样式 */
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

}

  img.product-image {
    max-width: 100%;
    height: auto;
  }


  .like-icon {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
    background-image: url(images/radiobtn_on.jpg);
    background-size: cover;
  }
.product-details {
  word-wrap: break-word;
  overflow-wrap: break-word;
    display: inline-block;
  width: 100%;
}
.add-button-container {
  margin-top: 10px; /* 可根据需要调整按钮与产品之间的间距 */
}


.product-description {
  word-break: break-word; /* 让文本根据容器宽度自动换行 */
}

  .original-price {
    text-decoration: line-through;
    font-size: 0.9em;

  }

  .discount {
    color: red;
    font-size: 0.9em;

  }

  .rating {
    color: gold;
  }

  .price {
    font-size: 1em;
  }




/*.add-button-container {*/
/*  position: absolute;*/
/*  bottom: 0;*/
/*  left: 50%;*/
/*  transform: translateX(-50%);*/
/*}*/
  /*paginatio*/
  .pagination-container {
    display: flex;
    justify-content: center;
  }

  .pagination-container .page-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .pagination-container .page-list li {
    display: inline;
  }

  .pagination-container .page-list li a {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    text-decoration: none;
    color: black;
  }

  .pagination-container .previous,
  .pagination-container .next {
    text-decoration: none;
    color: black;
    padding: 8px 12px;
  }



