/*
      www.OnlineWebFonts.Com
      You must credit the author Copy this link on your web
      <div>Font made from <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>is licensed by CC BY 3.0</div>
      OR
      <a href="http://www.onlinewebfonts.com">oNline Web Fonts</a>
*/

@font-face {font-family: "Avenir LT Pro";
  src: url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.eot");
  src: url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.eot?#iefix") format("embedded-opentype"),
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.woff2") format("woff2"),
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.woff") format("woff"),
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.ttf") format("truetype"),
  url("//db.onlinewebfonts.com/t/80ef43d3685d74fc0e7ba8490cd6adc1.svg#Avenir LT Pro") format("svg"); }

body {
  font-family: sans-serif; /* 将所有字体设置为 sans-serif */
}

.container
{
    width: 1548px;
    margin: 0 auto;
    padding: 20px;
    border: none;

  /*width: 50%;*/
}

/*category*/
.breadcrumb {
  display: flex;
  align-items: center;
  font-size: 12px;
  font-weight: lighter;
}

.breadcrumb{
  padding: 6px;
}

.breadcrumb ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.breadcrumb li {
  display: flex;
  align-items: center;
  margin:0;
}

.breadcrumb span {
  margin: 0 2px;
}
.breadcrumb .translation_missing
{
    color: #000;


}
.breadcrumb a {
  text-decoration: none;
  color: #313131;
}

.breadcrumb a:hover {
  text-decoration: underline;
}

/*next*/
.product .product-container {
  display: flex;
}

 .product-info-row {
  flex: 1;
  border: none;
  padding-top: 25px;

}


 .product-info-row .details-gallery{
     display: flex;
     flex-direction: column;
     align-items: center;

}
 .product-info-row .details-gallery .mySwiper {
  /* 第一个 div 样式 */
  border: 1px solid #e6e6e6; /* 添加黑边框样式 */

}
.product-info-row .mySwiper2 {
  /* 第一个 div 样式 */
  margin-top: 20px; /* 设置与下一个 div 的间距 */
    display: flex;
    flex-direction: row;


}
.product-info-row .details-gallery .big-image {

  background-image: url(https://images.ibspot.com/a3992hwojb2jzpdymaad1vr244mf?width=800&amp;height=800&amp;format=jpg);
  background-size: cover;
  background-position: center;
  border: #e6e6e6 1px;

}

 .product-info-row .details-gallery  .small-images {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
}

.product-info-row .details-gallery  .small-images img {
      width: 100px;
      height: 80px;
      margin-right: 10px;
      border: 1px solid #e6e6e6; /* 添加黑边框样式 */
      padding: 5px;
}
/*next-info-row2*/
.product-info-row2{
  margin-left: 35px;
}

.product-info-row2 .product-details {
  padding-top: 10px;
    word-wrap: break-word;
  overflow-wrap: break-word;
    display: inline-block;
  width: 100%;
}

.product-info-row2 .product-description {
  word-break: break-word; /* 让文本根据容器宽度自动换行 */
  font-size: 16px;
}
.product-info-row2 .product-detail-title{
    color: #000;
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 10px;
}

.shop-link {
  padding-bottom: 10px;;
}
.product-info-row2 .stars-wrapper{
    display: flex;
    padding-bottom: 10px;;
}

.shop-rating{
  padding-right: 8px;;
}
.product-info-row2 a, a:link, a:visited {
    text-decoration: none;
    color: #10824b;
    font-weight: bold;
}

.product-info-row2 .original-price {
    text-decoration: line-through;
    font-size: 0.9em;
    line-height: 30px;;
  }

.product-info-row2 .discount {
    color: red;
    font-size: 2em;

  }



  .product-info-row2 .price {
    font-size: 2em;
  }
  .product-info-row2 .date {
    font-size: 0.9em;
    font-weight: bold;
  }
  .product-info-row2 .horizontal-line {
    border-top: 1px solid #ddd;
    margin-top: 20px;
    padding-bottom: 25px;
  }
  .product-info-row2 .tooltip{

      display: flex;
  }


  .product-info-row2 .a-button-text{
      display: flex;
      align-items: center; /* 垂直居中 */
      justify-content: center; /* 水平居中 */
      background-color: white;
      border: solid #ddd 1px;
      padding: 12px;
      margin-right: 15px;

  }

  .select-option-1 {
    width:36px;
    height:36px;
    background-color: #dcd392;
  }

  .select-option-2 {
    width:36px;
    height:36px;
    background-color: #d4c1b3;
  }

  .select-option-3 {
    width:36px;
    height:36px;
    background-color: #cbdb90;
  }
  .select-option-4 {
    width:36px;
    height:36px;
    background-color: #dc9090;
  }

  .option-name{
    padding-left: 10px;
  }
  .product-info-row2 .specification {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
  }
.product-info-row2 .specification .row {
  margin-bottom: 20px; /* 在每个.row的下方添加20像素的下边距 */
}

.product-info-row2 .cell {
    width: 33.33%;
    margin-right: 22px;
    line-height: 20px;
    /*margin-bottom: 20px;*/
    padding-bottom: 2px;
  }

.product-info-row2 .bold {
    font-weight: bold;
    }
div.row .row2  {
  margin-top: 10px; /* 设置上方间距为 22px */
}
.product-info-row2 .option-title {
  font-weight: bold;
  padding-bottom: 15px;
}
.product-info-row2 .short-desc-title{
  font-weight: bold;
  padding-bottom: 15px;
  margin-top: 40px;
}
.product-info-row2 .details-more {
  padding: 0;
  margin: 0;
}

.product-info-row2 .details-more li {
  line-height: 12px;
  list-style-position: inside;
  padding-bottom: 13px; /* 设置下方内边距为 10px */
  font-size: 0.9em;
}



/*row3*/
.product-info-row3{
  margin-left: 30px;
  border: 1px solid #e4e4e4; /* 添加黑边框样式 */
  padding:15px 25px 25px 25px;
  height: fit-content;
}
.selling {font-size: 1.8em;

}
.product-info-row3 .shipping{
    display: flex;
    flex-direction: column;

}
.product-info-row3 .delivery{

    margin-left: 0;
    padding-bottom: 12px;
}
.product-info-row3 .bold{
        font-size: 0.9em;

}

.details-card-quantity {
  margin: 0;
  color: #942700;
  font-weight: bold;
  font-size: 1.2em;
  padding-bottom: 25px;
}

.product-info-row3 .a-link-normal {
    text-decoration: none;
    color: #10824b;
    font-weight: bold;
}

  .product-info-row3 .quantity-input {
      margin-top: 0px;
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 22px;
    overflow: hidden;
      width: 150px;
      height: 40px;
  padding-right: 10px;
  }
  .product-info-row3 .number-short-input{
    /*align-content: center;*/
    /*justify-content: center;*/
      text-align: center; /* 将输入文本居中对齐 */
    border:none;
    width:30px;
    /*  width: 50%;*/


}


  .product-info-row3 .quantity-input button {
    display: flex;
    justify-content: center;
    align-items: center;
      border-radius: 32px;
    width: 230px;
    height: 64px;
    border: none;
    background-color: white;
    cursor: pointer;
      /*margin-right: 33px;*/
  }
  /*.next-info-row3 .short-input{*/

  /*      width: 10px; !* 设置适当的宽度 *!*/

  /*}*/

  .product-info-row3 .quantity-input button:hover {
    background-color: #ebebeb;
  }

  .product-info-row3 .quantity-input button:focus {
    outline: none;
  }

  .product-info-row3.quantity-input input {
    flex-grow: 1;
    height: 100%;
      width: 30px;
    padding: 0 10px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    background-color: transparent;
    text-align: center;
  }

  .product-info-row3 .quantity-label {
    margin-right: 5px;
    padding-left: 15px;
    font-size: 0.9em;
  }
.product-info-row3 .quantity-action{
    display: flex;
    flex-direction: column;

}


.product-info-row3 .add-to-cart-button{
border-radius: 22px;
    width:260px;
    height: 40px;
    background-color:#ef8700;
    border: none;
    margin-top: 16px;
    padding-bottom: 17px;
    color: white;
  font-size: 1.3em; /* 设置字体大小为 20 像素 */
  line-height: 38px;

}
.product-info-row3 .buy-now-button{
  border-radius: 22px;
  width:260px;
  height: 40px;
    background-color: #cc0200;
    border: none;
    margin-top: 18px;
    padding-bottom: 17px;
    color: white;
    font-size: 1.3em; /* 设置字体大小为 20 像素 */
    line-height: 38px;
}
.product-info-row3 .increase {
  margin-right: 10px; /* 设置左边距为15像素 */
  font-size: 1.3em;
    padding-right: 20px;
}
.product-info-row3 .decrease {
  font-size: 1.3em;
}
.product-info-row3 .sold-by{

    margin-top: 50px;
    margin-bottom: 40px;
    font-size: 0.9em;
}
.buyer-protection {
  font-size: 0.9em;
  font-weight: bold;
}
.buyer-protection p {
  font-weight: normal;
}
.product-info-row3 .h2{

    margin-bottom: 18px;

}
