@charset "UTF-8";
@font-face{font-family:ng;src:url(http://nanum-web-font.googlecode.com/files/NanumGothic.eot);src:local(※), url(http://nanum-web-font.googlecode.com/files/NanumGothic.woff) format(‘woff’)}
@font-face{font-family:ngb;src:url(http://nanum-web-font.googlecode.com/files/NanumGothicBold.eot);src:local(※), url(http://nanum-web-font.googlecode.com/files/NanumGothicBold.woff) format(‘woff’)}
@font-face{font-family:nmeb;src:url(http://nanum-web-font.googlecode.com/files/NanumGothicExtraBold.eot);src:local(※), url(http://nanum-web-font.googlecode.com/files/NanumGothicExtraBold.woff) format(‘woff’)}

* {margin: 0; padding:0;}
html, body {height:100%; font-family: '맑은 고딕','Malgun Gothic',"Apple SD Gothic Neo","AppleGothic",'Nanum Gothic',"돋움", Dotum,"굴림",Gulim,Sans-serif; color:#555; font-size:12px;line-height:150%;}
.wrapper {width:1060px; padding:0 10px; min-height:100%; height:auto !important; height:100%; margin:0 auto;}
.no-border {border:none !important; -moz-border-radius: 0 !important; -webkit-border-radius: 0 !important; -khtml-border-radius: 0 !important; border-radius: 0 !important;}
.no-padding {padding:0 !important;}
.no-margin {margin:0 !important;}

nav > ul {padding:0;}
img {border:0;}
h1,h2,h3,b,strong,caption,th,thead,dt,legend {font-weight:bold;}
ul, ol {padding: 0; margin:0; list-style:none;}
li ul, li ol, ul ul, ol ol, dl dd {padding:0; margin:0;}
small, sup, sub {font-size:90%;}
a {color:#333; outline:none; text-decoration:none;}
a:hover {color:#0048a0 !important; text-decoration:none;}
.art-sum {color:#666; font-size: 13px; line-height: 19px;}
.art-sum em {color:#aaa;}
.art-info {color:#999;}
.art-info em {font-style:normal;}
a:hover .art-sum {color:#111;}
a:hover .art-img {opacity:0.9;}
header, section, nav, aside {margin:0; padding:0;}

.al {text-align: left !important;}
.ar {text-align: right !important;}
.ac {text-align: center !important;}
.fl {float: left !important;}
.fr {float: right !important;}
.br {border:1px solid #ddd;}
.brl {border-left:1px solid #ddd;}
.brr {border-right:1px solid #ddd;}
.brt {border-top:1px solid #ddd;}
.brb {border-bottom:1px solid #ddd;}
.clearfix {clear:both; display:block; height:0;}
.hid {display:none;}
.cutstr {text-overflow:ellipsis;}

.mt10 {margin-top:10px;}
.mt15 {margin-top:15px;}
.mt20 {margin-top:20px;}
.mr10 {margin-right:10px;}

.btn-prev {position:absolute; top:40%; left:0; font-size:36px; line-height:36px; font-weight:normal; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#eee;}
.btn-next {position:absolute; top:40%; right:0; font-size:36px; line-height:36px; font-weight:normal; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; color:#eee;}
.btn-prev a, .btn-next a {display:block; color:#777;}
.btn-play {position:absolute; top:0; right:0; width:100%; height:100%; /*background:url(../images/ic-play.png) center center no-repeat;*/}
.btn-view {position:absolute; top:0; right:0; width:100%; height:100%; /*background:url(../images/ic-view.png) center center no-repeat;*/}
.btn-close {background:url(../images/ic-close-x.png) 0 0 no-repeat; width:10px; height:10px; display:block; position:absolute; right:5px; top:5px;}
.btn-close span {width:10px; height:10px; display:block; text-indent:-9999px;}

nav {position:relative; width:100%;}
nav ul {list-style:none; margin: 0;}
nav ul li {float:left;}
nav .nav-wrap {height:1%;}
nav .nav-level1 {position: relative; width:100%; height:45px; background-color:#004276; border-top:#032854 solid 5px;}
nav .nav-level1 .tier-1 li {position:relative; padding:0; margin:0;}
nav .nav-level1 .tier-1 li.bar {background-color:#2d5a8e; width:1px; height:49px; margin-top:-4px;}
nav .nav-level1 .tier-1 li a {border-top:solid 4px transparent; font-size:14px; line-height:40px; font-weight: bold; height:40px; display:block; text-align:center; color:#fff; padding-bottom:4px; margin-top:-4px; padding-left:26px; padding-right:26px;}
nav .nav-level1 .tier-1 li.m0 a {background:url(../images/ic-home.png) center -26px no-repeat; width:18px; height:40px;}
nav .nav-level1 .tier-1 li.m0 a span {display:none; width:18px; height:18px;}
nav .nav-level1 .tier-1 li a:hover {border-top-color:#00254f; background-color:#052f5f; text-shadow:0 2px 2px #04284c; color:#fff !important;}
nav .nav-level1 .tier-1 .selected a {background-color:#2e75b6!important; border-top-color:#2e75b6!important;}
nav .nav-level1 .tier-1 li.m0.selected a {background:url(../images/ic-home.png) center 7px no-repeat;}
nav .nav-level1 .tier-1 li.fr {position:relative; float:right!important; text-align:right; width:390px; margin-right: 20px; }
nav .nav-level1 .tier-1 li.fr a {display:inline-block; float:none; border:none; width:auto; line-height:46px; padding:0 5px; font-size:14px;}
nav .nav-level1 .tier-1 li.fr a:hover {background-color:inherit; color:#FF9;}
nav .nav-level2 {height:24px; line-height:24px; width:100%; border-bottom:#eee solid 2px;}
nav .nav-level2 a {color:#444; padding: 0 10px; font-weight:bold; font-size:11px; text-transform: uppercase; border-right:1px solid #eee;}
nav .nav-level2 .bk-end {border:0;}
nav .nav-level1 .tier-1 a.m-jobs {background:url(../images/ic-board.png) 12px 14px no-repeat !important; padding-left:40px !important; padding-right:5px !important; display:block; color:#e1ecf6;}
nav .nav-level1 .tier-1 a.m-photo {background:url(../images/ic-photo.png) 12px 14px no-repeat !important; padding-left:40px !important; padding-right:5px !important; display:block; color:#e1ecf6;}
nav .nav-level1 .tier-1 a.m-video {background:url(../images/ic-video.png) 12px 14px no-repeat !important; padding-left:40px !important; padding-right:5px !important; display:block; color:#e1ecf6;}
nav .nav-level1 .tier-1 a.m-all {background:url(../images/ic-openit.png) right 20px no-repeat !important; padding-right:10px !important; padding-left:5px !important; display:block; color:#a2ccf2;}
nav .nav-level1 .tier-1 a.selected {font-weight:bold !important;}

nav .general {background-color:#215d50!important; border-top:#1a4a40 solid 5px!important;}
nav .general .tier-1 li a:hover {border-top-color:#1a4a40; background-color:#1a4a40; text-shadow:0 2px 2px #80000b;}
nav .general .tier-1 li.bar {background:#1a4a40;}
nav .general .tier-1 .selected a {background-color: #1a4a40 !important; border-top-color: #1a4a40 !important;}
nav .general .tier-1 li.fr {color: #fff;}

.hdrtools {width:100%; font-size:11px; line-height:30px; height:30px; overflow:hidden; border-bottom:#e5e7e9 solid 1px; border-top:#1f3e74 solid 3px;}
.hdrtools a {padding:0 2px; line-height:20px; border:#fff solid 1px; padding:0 3px; display:inline-block;}
.hdrtools a:hover {border:#eee solid 1px;}
.hdrtools .selected {color:#4476BA !important; border:#ddd solid 1px !important; font-weight:bold; margin-left:2px; margin-right:2px;}
.hdrtools .edition {float: left; font-size: 12px; position: relative; margin-right: 10px;}
.hdrtools .edition a {border: none; padding: 0;}
.hdrtools .edition .current {background: #f1f3f4; color: #000; border-left: #e5e7e9 1px solid; border-right: #e5e7e9 1px solid; padding: 0 10px; font-family: '나눔고딕 Bold',NanumGothicBold,'나눔고딕 ExtraBold','나눔고딕',NanumGothic,Nanum Gothic,NanumGothicExtraBold,'맑은 고딕',Malgun Gothic,Segoe UI,meiryo,applegothic,nmeb;}
.hdrtools .edition .ic-arr {width: 10px; height: 10px; display: inline-block; background:url(../images/ic-arr-down.png) no-repeat 0 0; margin-left:5px;}
.hdrtools .edition .current:hover {cursor: pointer;}
.hdrtools .edition .list {position:absolute; top: 100%; left:0; background:#fff; z-index:5; width: 95px; border: #e5e7e9 1px solid; border-top: none;}
.hdrtools .edition .list li {display:block; border-top: #e5e7e9 1px solid; padding: 2px 10px;}
.hdrtools .edition .set {font-family: '나눔고딕 Bold',NanumGothicBold,'나눔고딕 ExtraBold','나눔고딕',NanumGothic,Nanum Gothic,NanumGothicExtraBold,'맑은 고딕',Malgun Gothic,Segoe UI,meiryo,applegothic,nmeb; text-align: center;}
.hdrtools .edition .set a {color: #123771;}
.hdrtools .fr a {background:url(../images/ic-social.png) 0 0 no-repeat; width:28px; height:28px; display:inline-block; margin:0 auto; padding:0; border:none;}
.hdrtools .fr a span {display:none;}
.hdrtools a.s-rss {background-position:-150px 0;}
.hdrtools a.s-fbook {background-position:-180px 0;}
.hdrtools a.s-twit {background-position:-210px 0;}
.hdrtools a.s-metwo {background-position:-240px 0;}
.hdrtools a.s-book {background-position:-270px 0;}
.hdrtools a.s-rss:hover {background-position:-150px -30px;}
.hdrtools a.s-fbook:hover {background-position:-180px -30px;}
.hdrtools a.s-twit:hover {background-position:-210px -30px;}
.hdrtools a.s-metwo:hover {background-position:-240px -30px;}
.hdrtools a.s-book:hover {background-position:-270px -30px;}

header {margin:0; padding:0; position:relative; height:; width:100%;}
.hd-logo {position:absolute; top:0; left:50%; margin-left:-80px; margin-top:18px; line-height:39px; font-size:20px; font-weight:bold; letter-spacing:-1px;}
.hd-logo * {vertical-align:middle;}
.hd-logo img {margin-right:8px;}
.hd-logo a {color:#000;}
.hd-promo {margin-top:25px; color:#aeadad; font-size:11px; width:160px; text-align:center;}
.hd-promo strong {color:#888; font-weight:bold; font-size:12px;}
.hd-promo strong em {font-style:normal; color:#2E75B6;}
.hd-search {margin-top:27px; border:#2e75b6 solid 2px; width:240px; height:30px;}
.hd-search input {border:none; margin:2px; padding:4px; width:190px; font-size:12px; vertical-align:middle; font-family:'돋움',Dotum,Arial; color:#666;}
.hd-search button {background:url(../images/ic-search.png) 0 0 no-repeat; width:38px; height:30px; cursor: pointer; border:none; vertical-align:middle;}
.hd-search input:focus {background-color:#f6f6f6;}
.hd-bn {width:320px; height:68px; margin-top:8px; text-align:left; overflow:hidden;}
.p-local .hd-logo {}
.p-local .hd-promo {width:135px;}
.p-local .hd-search {width:180px;}
.p-local .hd-search input {width:130px;}

.headline {padding:15px 0 20px 0;}
.headline .art-img {float:left; margin-right:15px;}
.headline .art-ttl {font-size:28px; letter-spacing:-3px; line-height:125%; font-weight: bold; color:#000; margin-bottom:15px;}
.headline .art-sttl {color:#444; padding:8px 0; font-size:14px;}
.headline .art-sum {padding-bottom:10px;}
.p-section .headline {padding:20px 0;}
.p-section .headline .art-ttl {font-size:22px; line-height:26px;}
.p-section .headline .art-sttl {padding:4px 0;}

.bk-latestnews {padding:12px 0; border-bottom:2px solid #DDE0E4;}

.bk-halfnews {border-top:#eef2f8 3px solid;}
.bk-halfnews .bk-con {float:left; width:50%; padding:10px 0 15px 0; position:relative;}
.bk-halfnews .art-ttl {color:#204d84; font-size:17px; font-weight: bold; line-height:20px; letter-spacing:-1px; padding:6px 0 10px;}
.bk-halfnews .art-img {float:left; margin-right:15px; width:120px;}
.bk-halfnews .art-sum {padding-right:10px;}
.p-article .bk-halfnews .art-ttl {font-size:12px; line-height:16px; font-weight:bold; padding:8px; color:#000;}
.p-article .bk-halfnews .art-sum {color:#4f81b2;}
.p-article .bk-halfnews .bk-con .art-video, .p-article .bk-halfnews .bk-con .art-photo {top:10px;}

.bk-halfphoto {border-top:#000 3px solid; background-color:#333; margin-top:15px; margin-bottom:8px;}
.bk-halfphoto .bk-con {float:left; width:330px; padding:0 0 10px 0; text-align:center; position:relative;}
.bk-halfphoto .art-ttl {color:#fff; font-size:18px; line-height:22px; letter-spacing:-1px; padding:12px 10px 5px 10px;}
.bk-halfphoto .art-img {width:100%; display:block; margin:0 auto;}
.bk-halfphoto .art-sum {padding:5px 10px;}
.p-photo .bk-halfphoto a:hover .art-sum {color:#ccc;}
.p-video .bk-halfphoto a:hover .art-sum {color:#ccc;}
.con-lft .bk-halfphoto .art-ttl {font-size:16px; line-height:20px;}
.con-lft .bk-halfphoto .bk-con {width:217px;}
.bk-halfphoto a:hover .btn-play {background-color:#000;}

.bk-comments {border-top:#001835 3px solid; margin-top:15px;}
.bk-comments .bk-ttl {text-align:center; color:#001835; font-size:15px; line-height:34px; font-weight: bold;}

.bk-photonews {margin-bottom:6px; margin-top:6px;}
.bk-photonews .bk-ttl {color:#001835; font-size:12px; line-height:34px; text-align:center; text-transform:uppercase;}
.bk-photonews .bk-con {float:left; width:25%; padding:0 0 10px 0; text-align:center; }
.bk-photonews .art-ttl {font-size:12px; letter-spacing:-1px; padding:6px 0 10px; font-weight:normal; padding-left:10px; padding-right:10px;}
.bk-photonews .art-img {border:2px solid #eee;}
.bk-photonews a:hover .art-img {border-color:#001835;}

.con-lft {float:left; width:690px; padding-bottom:20px;}
.con-rht {float:right; width:350px; padding-bottom:20px; padding-top:12px;}
.maincol {border-bottom:2px solid #eef2f8; border-top:3px solid #184F85;}
.p-section .maincol {border:none;}
.maincol2-3 {float:right; width:160px; /*background-color:#eef2f8;*/ border-left:1px solid #eef2f8; padding:20px 0 20px 20px;}
.maincol1-3 {float:left; width:490px;}
.subcol2-3 {float:left; width:160px; padding:15px 0 30px 0;}
.subcol1-3 {float:right; width:470px;}

.bk-widebox {width:100%; position:relative; margin-bottom:25px;}
.bk-widebox .bk-ttl {text-align:center; color:#fff; font-size:12px; position:absolute; top:0; left:0; padding:5px 8px; background-color:#004276; z-index:50; display: inline-block;}
.bk-widebox .bk-ttl a {color:#fff;}
.bk-widebox .bk-withimg a {color:#222; font-weight:bold;}
.bk-widebox .art-img {display:block; text-align:center; margin-bottom:10px;}
.bk-widebox .art-ttl {font-size:12px; /*padding:0 5px;*/}
.bk-widebox .bk-con {margin-top:5px; margin-bottom:5px; background:url(../images/ic-square-b.png) 0 6px no-repeat; padding-left:10px; color:#3b5998;}
.colorset0 .bk-ttl {background-color:#de0000;}
.colorset1 .bk-ttl {background-color:#004276;}
.colorset2 .bk-ttl {background-color:#6e94d2;}
.colorset3 .bk-ttl {background-color:#62b1ba;}
.colorset4 .bk-ttl {background-color:#e18134;}
.colorset5 .bk-ttl {background-color:#8342ad;}
.l-area1 .bk-ttl, .colorset1.bk-ttl {background-color:#6e94d2;}
.l-area2 .bk-ttl, .colorset2.bk-ttl {background-color:#62b1ba;}
.l-area3 .bk-ttl, .colorset3.bk-ttl {background-color:#e18134;}
.l-area4 .bk-ttl, .colorset4.bk-ttl {background-color:#8342ad;}
.l-area5 .bk-ttl, .colorset5.bk-ttl {background-color:#e93030;}
.bk-noimg .bk-ttl,
.bk-noimg .bk-ttl {position:relative; display:inline-block;}
.bk-noimg .bk-con {background:none; border-top:1px solid #EEF2F8; padding-top:10px; padding-bottom:5px; padding-left:0 !important;}
.bk-noimg .bk-con a {font-weight:bold;}
.bk-noimg .bk-con a strong {color:#204D84;}
.bk-noimg {border-bottom:1px solid #EEF2F8;}
.bk-widebox .bk-ttl a:hover {color:#fff !important;}

.bk-listbasic1 {padding:8px 0;}
.bk-listbasic1 .bk-con {padding:10px 0; clear:both; float: left; width: 100%;}
.bk-listbasic1 .art-img {float:left; width:120px; margin-right:15px; margin-bottom:5px;}
.bk-listbasic1 .art-ttl {font-size:17px; line-height:20px; font-weight:bold; color:#000;}
.bk-listbasic1 .bk-con .art-sum {margin-top: 5px;}
.bk-listbasic1 a:hover .art-ttl {color:#36C;}
.bk-listbasic1 .art-rel {font-size:12px;}
.bk-listbasic1 .art-info {font-size:13px; color:#999;}
.bk-listbasic1 .art-info strong {color:#0066CC;}
.bk-listbasic1 .art-info em {font-style:normal; color:#4476BA;}
.bk-listbasic1 .art-sum em {display:block;}
.p-section .bk-listbasic1 .art-ttl {font-size:16px;}
.p-section .bk-listbasic1 .bk-con {padding:12px 0; border-bottom:#d4d4d4 solid 1px;}

.bk-basic {border-top:#004276 solid 3px; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; overflow:hidden; margin-bottom:10px;}
.bk-basic .bk-ttl {float:left; padding:10px 15px; color:#283e6f; font-size:14px; line-height:20px;}
.bk-basic .bk-sttl {float:right; text-align:right; width:100px; line-height:20px; padding-top:10px; padding-right:15px; font-size:12px; font-weight:bold; color:#ccc;}
.bk-basic .art-ttl {font-size:14px; line-height: 20px; letter-spacing:-1px; font-weight:bold;}
.bk-basic .art-img {float:right; margin-left:12px; width:80px;}
.bk-basic .bk-bd {padding:7px 12px;}
.bk-basic ul {border-top:1px solid #ddd;}
.bk-basic li {border-top:1px solid #eee; padding:10px 15px; font-size:14px; line-height: 20px; font-weight: bold;}
.bk-basic .bk-con {padding:10px 12px; border:none;}
.bk-basic .bk-con .art-ttl {font-weight:bold;}
.bk-basic li em {background-color:#2E75B6; color:#fff; font-weight:bold; font-size:11px; font-style:normal; border-radius:2px; padding:0 5px; display:inline-block;}
.p-section .bk-basic .art-ttl {font-size:14px; line-height:18px;}

.bk-lightlist {clear:both; border-top:#004276 solid 3px; border-left:1px solid #ddd; border-right:1px solid #ddd; border-bottom:1px solid #ddd; overflow:hidden; margin-bottom:10px;}
.bk-lightlist .bk-hd {text-align:center; border-bottom:1px solid #ddd;}
.bk-lightlist .bk-ttl {float:left; padding:10px 10px; color:#283e6f; font-size:14px; line-height:20px;}
.bk-lightlist .bk-sttl {float:right; text-align:right; line-height:18px; padding-top:11px; padding-right:10px; font-size:14px; font-weight:bold; color:#ccc; white-space:nowrap;}
.bk-lightlist .bk-sttl a {-moz-border-bottom-colors:none; -moz-border-left-colors:none; -moz-border-right-colors:none; -moz-border-top-colors:none; background-color:#fff; border-color:#ddd #ddd -moz-use-text-color; border-image:none; border-style:solid solid none; border-width:1px 1px medium; color:#777; display:inline-block; line-height:23px; margin-bottom: -1px; padding:3px 5px; letter-spacing:-1px;}
.bk-lightlist .bk-sttl a.selected {color:#222;}
.bk-lightlist .art-ttl {font-size:12px; letter-spacing:-1px; color:#283e6f; font-weight:bold; display:inline;}
.bk-lightlist .art-img {float:none; margin:0;}
.bk-lightlist ul {padding:10px;}
.bk-lightlist li {padding:4px 2px 4px 12px; font-size:14px; background:url(../images/ic-square-b.png) 0 12px no-repeat;}
.bk-lightlist .bk-withimg {margin:8px 5px; border:none; text-align:center; font-size:11px; padding:0;}
.bk-lightlist .fl {width:130px; text-align:center; padding: 15px;}
.bk-lightlist .fr {width:320px;}
.bk-lightlist .fr ul {padding-left:0;}
.bk-lightlist .bk-start {font-weight:bold;}
.bk-lightlist.bk-listbigger .fl {width:180px; margin-left:10px;}
.bk-lightlist.bk-listbigger .fr {width:445px;}
.bk-lightlist.bk-listbigger .fr li {font-size:14px; line-height:18px; padding-bottom:8px;}
.bk-lightlist.bk-listbigger .bk-withimg {margin:15px 0;}
.bk-lightlist.bk-listbigger {border-top:none; margin-top:12px;}

.bk-3mal {float:left; width:29.3%; margin: 0 2% 15px; display:inline;}
.bk-3mal .bk-ttl {text-align:left; font-size:15px; line-height:30px; font-weight: bold; color:#283E6F; margin-bottom: 10px;}
.bk-3mal .bk-ttl a {color:#283E6F;}
.bk-3mal .bk-withimg {padding-bottom:7px; padding-right:10px;}
.bk-3mal .bk-withimg .art-img {float:left; margin-right:12px;}
.bk-3mal .bk-withimg .art-ttl {font-size:16px; line-height: 22px; font-weight: bold;}
.bk-3mal .bk-con {background:url(../images/ic-square-b.png) 0 8px no-repeat; padding-left:10px; color:#3b5998; font-size: 14px; line-height: 20px; letter-spacing: -0.04em; font-weight: bold; margin: 10px 0; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; display: block;}

.bk-4mal {float:left; width:25%; padding:15px 0; text-align:center; border:none; position:relative;}
.bk-basic .bk-4mal {padding:15px 0;}
.bk-widebox .bk-4mal {padding:0;}

.bk-color0 {border-color:#eef2f8;}
.bk-color0 .bk-hd {background-color:#eef2f8;}
.bk-color0 .bk-ttl {color:#0f3c70;}
.bk-color1 {border-top-color:#ffae00;}
.bk-color1 .bk-hd {background-color:#f3f3f3;}
.bk-color1 .bk-ttl {color:#444;}
.bk-color2 {border-top-color:#00a3dd;}
.bk-color2 .bk-hd {background-color:#f3f3f3;}
.bk-color2 .bk-ttl {color:#444;}
.bk-color5 {border-top-color:#a10ad9;}
.bk-color5 .bk-hd {background-color:#f3f3f3;}
.bk-color5 .bk-ttl {color:#444;}
.bk-color3 {border:none;}
.bk-color3 .bk-hd {background-color:#57389f;}
.bk-color3 .bk-ttl {color:#fff;}
.bk-color3 ul {border:#ddd 1px solid;}
.bk-color4 {border:none;}
.bk-color4 .bk-hd {background-color:#3a9dc0;}
.bk-color4 .bk-ttl {color:#fff;}
.bk-color4 ul {border:#ddd 1px solid;}

.bk-spons {position:relative; height:80px; background-color:#F3F4F6; display:none;}
.bk-spons .bk-ttl {position:absolute; left:0; top:30px; width:120px; text-align:center; color:#666; font-weight:bold;}
.bk-spons ul {position:absolute; top:10px; left:140px; width:850px;}
.bk-spons li {float:left; margin-right:5px;}
.bk-spons .btn-prev {left:120px; top:20px; font-size:18px;}
.bk-spons .btn-next {right:10px; top:20px; font-size:18px;}

.bk-bigphoto {overflow:hidden;}
.bk-bigphoto .bk-ttl {padding:5px 10px; color:#fff; border-bottom:1px solid #ddd; font-size:12px; line-height:18px; background-color:#001835; text-align:center;}
.bk-bigphoto .art-ttl {font-size:12px; text-align:center; padding:12px; font-weight:normal;}
.bk-bigphoto .bk-start .art-img {display:block; width:320px;}
.bk-bigphoto .bk-con {float:left; width:160px;}
.bk-bigphoto .bk-con .art-img {display:block; width:160px;}

.bk-navi {border-top:#184f85 solid 2px; background-color:#f3f3f3; border-right:#dbdfe5 solid 1px; border-left:#dbdfe5 solid 1px; border-bottom:#dbdfe5 solid 1px; margin-top:15px;}
.bk-navi li {float:left; width:auto !important;}
.bk-navi li a {padding:7px 15px; display:block; border-right:#dbdfe5 solid 1px; font-weight:bold; letter-spacing:-1px;}
.bk-navi li a.selected {border-bottom:#fff solid 1px; background-color:#fff; margin-bottom:-1px;}
.bk-navi li.fr {padding-top:7px; padding-right:10px;}
.bk-navi li.fr form {display:inline;}
.bk-medias .bk-navi {margin-top:0;}

.bk-allmenu {background-color:#fff; border:#184F85 solid 2px; position:relative; padding:12px 8px 5px 8px;}
.bk-allmenu table {padding:10px; width:100%;}
.bk-allmenu th {background-color:#f6f6f6; border-bottom:#eee solid 2px; border-top:#eee solid 1px; color:#000; font-size:15px; line-height:26px; vertical-align:top; text-align:left; padding:0 14px;}
.bk-allmenu td {width:12%; color:#004276; font-size:14px; line-height:18px; vertical-align:top; text-align:left; padding:10px 14px;}

.bk-pageline {height:88px; border-bottom:#032854 solid 2px; background:#fff no-repeat right top; margin-bottom:5px;}
.bk-pageline .bk-ttl {line-height:88px; font-size:28px; color:#032854;}
.bk-pageline .bk-ttl em {background-color:#f32b2b; color:#fff; font-size:20px; font-style:normal; padding:0 5px; }

.bk-disc {background-color:#f4f4f4; padding:20px; margin-bottom:15px; margin-top:12px;}

.art-video {background:url(../images/ic-art-video.png) 0 0 no-repeat #00ca8f; width:32px; height:32px; display:block; position:absolute; left:0; top:0; display:none;}
.art-photo {background:url(../images/ic-art-photo.png) 0 0 no-repeat #f20094; width:32px; height:32px; display:block; position:absolute; left:0; top:0;}

.bk-mores {border:none;}
.bk-mores .bk-hd {background-color:#004276;}
.bk-mores .bk-ttl {color:#fff;}
.bk-mores .bk-ttl {float:left;}
.bk-mores .bk-sttl {float:right; text-align:right; width:100px; line-height:18px; padding-top:5px; padding-right:12px; font-size:12px; font-weight:bold; color:#ccc; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.bk-mores ul, .bk-mores .bk-bd {border:1px solid #ddd; /*padding-top:15px; padding-bottom:15px;*/ padding:15px 0 !important;}
.bk-mores .bk-bd ul {border:none; padding:0 !important;}
.bk-mores li {position:relative;}
.bk-mores .bk-half {float:left; width:158px; padding:0; text-align:center; border:none;}
.bk-mores .bk-half .art-img {display:block; float:none; width:120px; margin:0 0 5px 0; padding-left:20px; padding-right:20px;}
.bk-mores .bk-half .art-ttl {padding:0 20px; font-weight:normal;}
.bk-mores .art-video {left:20px;}

.bk-follows {border:none;}
.bk-follows .bk-hd {background-color:#004276;}
.bk-follows .bk-ttl {color:#fff;}
.bk-follows ul {border:1px solid #ddd; padding-top:15px; padding-bottom:15px;}
.bk-follows .bk-5mal {float:left; width:25%; padding:0; text-align:center; border:none;}
.bk-follows li a {background:url(../images/ic-social.png) 0 0 no-repeat; width:29px; height:29px; display:inline-block; margin:0 auto;}
.bk-follows li a span {display:none;}
.bk-follows .s-fbook {background-position:0 0;}
.bk-follows .s-twit {background-position:-29px 0;}
.bk-follows .s-metwo {background-position:-58px 0;}
.bk-follows .s-gplus {background-position:-87px 0;}
.bk-follows .s-email {background-position:-116px 0;}
.bk-follows .s-fbook:hover {background-position:0 -29px;}
.bk-follows .s-twit:hover {background-position:-29px -29px;}
.bk-follows .s-metwo:hover {background-position:-58px -29px;}
.bk-follows .s-gplus:hover {background-position:-87px -29px;}
.bk-follows .s-email:hover {background-position:-116px -29px;}
.bk-newsletter {background:url(../images/bg-newsletter.jpg) 0 0 no-repeat;}
.bk-newsletter .bk-ttl{padding-left:45px !important;}
.bk-newsletter .bk-bd {padding-bottom:15px;}
.bk-newsletter .bk-bd * {vertical-align:top;}
.bk-newsletter .bk-bd select {margin-bottom:10px; margin-top:5px;}
.bk-newsletter .bk-bd input, .bk-newsletter .bk-bd #email {border:1px solid #ddd; border-radius:3px; padding:0 3px; height:28px; width:170px; line-height:28px; background-image: linear-gradient(to bottom, #FDFDFD 0%, #F1F1F1 100%); font-family:'돋움',Dotum,Arial; color:#666;}
.bk-newsletter .bk-bd button, .bk-newsletter .bk-bd #nsubmit {border:1px solid #166199; border-radius:3px; padding:0 3px; height:28px; width:30px; background:url(../images/ic-check.gif) center center no-repeat; cursor:pointer;}

.bk-mostpop {border:none;}
.bk-mostpop .bk-hd {background-color:#004276;}
.bk-mostpop .bk-ttl {color:#fff;}
.bk-mostpop .art-ttl {color:#283E6F; font-weight:bold;}
.bk-mostpop li {background-color:#eef2f8; margin:3px 0 2px 0;}

.bk-fbooklist {height:260px;}

.bk-boardlist1 {border:none;}
.bk-boardlist1 .bk-ttl {background-color:#ffcd00; color:#fff;}
.bk-boardlist1 li {border:none; padding-top:3px; padding-bottom:3px;}

.bk-boardlist2 {border:none;}
.bk-boardlist2 .bk-ttl {background-color:#85bd00; color:#fff;}
.bk-boardlist2 li {border:none; padding-top:3px; padding-bottom:3px;}

.bk-navigation {text-align:center; margin:15px auto;}
.bk-navigation a, .bk-navigation .num-default {font-size:12px; line-height:20px; display:inline-block; border:3px solid #eee; color:#777; padding:0 7px; margin:0 2px;}
.bk-navigation a .num-default {border:none; padding:0; background:none; box-shadow:none;}
.bk-navigation a:hover {border:3px solid #bbb;}
.bk-navigation .current {color:#000 !important; font-weight:bold;}

.bk-sidelist {border-top:#036 solid 2px;}
.bk-sidelist li {border-bottom:#ddd solid 2px; font-size:14px; line-height:20px; padding:6px 4px;}
.bk-sidelist .selected {font-weight:bold;}

.art-rel li {padding-top:1px; padding-bottom:1px;}
.art-rel li a {background:url(../images/ic-related-b.png) 0 3px no-repeat; padding-left:12px; color:#444;}

.bk-navihori {width:100px; float:left;}
.bk-navihori .bk-ttl {background-color:#000; color:#fff; padding:12px 0;}
.bk-navihori li {text-align:center; border-bottom:#666 solid 1px; font-family:'나눔고딕 ExtraBold',NanumGothicExtraBold,'나눔고딕 Bold',NanumGothicBold,'나눔고딕',NanumGothic,'맑은 고딕',Malgun Gothic,Segoe UI,meiryo,applegothic,nmeb; font-size:13px; line-height:16px;}
.bk-navihori li a {color:#fff; font-size:13px; line-height:16px; padding:10px 0; display:block; width:100%;}
.bk-navihori li a.selected {background:url(../images/ic-selected.png) right 50% no-repeat; font-weight:bold;}
.bk-navihori li a:hover {color:#e0e0e0 !important;}
.p-multi .bk-navihori li,
.p-video .bk-navihori li,
.p-photo .bk-navihori li {border-bottom:#4a4a4a solid 1px;}
.p-article .bk-navihori li {border-bottom:#46729d solid 1px;}
.p-multi .bk-navihori .bk-ttl,
.p-video .bk-navihori .bk-ttl,
.p-photo .bk-navihori .bk-ttl {background-color:#111;}
.p-article .bk-navihori .bk-ttl {background-color:#032854;}

.bk-medias {border-left:#333 solid 100px; margin-bottom:20px;}
.bk-medias .bk-navihori {margin-left:-100px;}
.p-multi .bk-medias .fr,
.p-video .bk-medias .fr,
.p-photo .bk-medias .fr {width:870px;}
.p-article .bk-medias .fr {width:530px;}
.p-multi .bk-medias,
.p-video .bk-medias,
.p-photo .bk-medias {border-left:#333 solid 100px;}
.p-article .bk-medias {border-left:#184f85 solid 100px;}

.bk-biglist {padding:15px 0;}
.bk-biglist li {float:left; width:200px; margin-right:23px; padding-bottom:18px; position:relative; }
.bk-biglist .bk-end {margin-right:0;}
.bk-biglist .art-ttl {font-size:14px; line-height:20px; font-weight:bold; letter-spacing: -0.04em;}

.bk-biglistsm {padding:15px 0;}
.bk-biglistsm li {float:left; width:155px; margin-right:25px; padding-bottom:18px; position:relative; text-align:center;}
.bk-biglistsm .bk-end {margin-right:0;}
.bk-biglistsm .art-ttl {font-size:12px; line-height:18px; font-weight:normal;}
.bk-biglistsm .art-img {width:155px !important; display:block; text-align:center; margin:0 auto;}

.bk-slidegallery {background-color:#000; height:290px; width:96%; position:relative; vertical-align:top; padding:18px 2%; margin-top:15px; margin-bottom:20px;}
.bk-slidegallery li {float:left; width:29.3%; padding: 0 2%; text-align:center; position:relative;}
.bk-slidegallery a {padding-top:10px; display:block;}
.bk-slidegallery .art-img {border:#888 4px solid; width: 100%;}
.bk-slidegallery .art-ttl {font-size:16px; line-height:20px; padding:5px 20px; color:#fff !important; letter-spacing:-2px;}
.bk-slidegallery .selected {padding-top:0;}
.bk-slidegallery .selected .art-img {border-color:#fff;}

.dg-container {width:100%; background-color:#000; height:290px; position: relative;}
.dg-wrapper {width:346px; height:250px; margin:0 auto; position:relative;}
.dg-wrapper a {width:330px;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  box-shadow:0px 5px 5px rgba(0,0,0,0.3);
}
.dg-wrapper a.dg-transition{
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
}
.dg-wrapper a img {display:block; border:transparent 4px solid;}
.dg-wrapper a div {font-size:16px; line-height:20px; color:#bbb;
  text-shadow: 1px 1px 1px rgba(255,255,255,0.5); text-align:center;
  font-size: 16px;
  width: 100%;
  display: none;
  position: absolute;
}
.dg-wrapper a.dg-center div{
  display: block;
}
.dg-container nav {width:100%;position:relative;
  z-index: 1000; bottom:45%;}
.dg-container nav span{
  cursor:pointer;
  width:24px;
  height:24px;
  opacity:0.8;
}
.dg-container nav .dg-prev {left:0; position: absolute; text-align:left; font-weight:bold; color:#ccc; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:24px; line-height:24px;}
.dg-container nav .dg-next {right:0; position: absolute; text-align:right; font-weight:bold; color:#ccc; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif; font-size:24px; line-height:24px;}
.dg-container nav span:hover {opacity:1;}
.dg-container nav span.dg-next {background-position:top right; margin-left:10px;}

.bk-gallery {width:100%; border-top:#004276 3px solid; border-bottom:#dde0e4 solid 2px; clear:both; position:relative;}
.bk-gallery .bk-ttl {float:left; padding:8px 12px; color:#283e6f; font-size:14px; line-height:20px; font-weight: bold;}
.bk-gallery .bk-sttl {float:right; text-align:right; width:100px; line-height:18px; padding-top:5px; padding-right:12px; font-size:12px; font-weight:bold; color:#ccc; font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;}
.bk-gallery .arr1 {position:absolute; top:71px; left:0;}
.bk-gallery .arr2 {position:absolute; top:71px; right:0;}
.bk-gallery dl {width:192px; float:left; margin:0 10px;}
.bk-gallery dl .art-ttl {padding:5px 0 15px; font-size: 14px; line-height: 20px;}
.bk-gallery dd img {border:1px solid #e2e2e4;}

footer {border-top:3px solid #2e2e2e; background:#fff; display:block; width:100%; overflow: hidden; font-size:11px; color:#999999; margin-top:20px; clear:both;}
footer .wrapper {padding:25px 0;}
footer .ft-menu {margin-bottom:20px; font-size:13px; font-weight:bold;}
footer .ft-menu a {color:#283e6f;}
footer .ft-logo {float:right;}
footer .ft-logo a {width:135px; height:32px; display:block; background:url(../images/ft-logo.png) 0 0 no-repeat;}
footer .ft-logo span {display:none;}
footer .copyright {text-align:right; clear:both;}
footer .fl {width:175px; padding-top:7px;}
footer .fr {width:810px;}
  
.breadcrumb {text-align:right; color:#777; font-size:11px; line-height:20px; padding:8px 0;}
.breadcrumb a {color:#4476ba; text-decoration:underline;}
  
/* Article */
.article-options {padding:8px 12px; border-bottom:#f4f4f4 solid 3px; font-size:11px; line-height:30px;}
.article-tools {padding:4px 12px; background-color:#f4f4f4; font-size:11px; line-height:16px;}
.article-tools .art-share {color:#bbb;}
.article-tools a, .article-tools em, .article-tools strong {color:#4476BA; font-weight:normal; font-style:normal;}
.article-ttl {font-size:28px; line-height:36px; font-weight: bold; color:#001835; padding:0 0 15px 0; letter-spacing:-2px;}
.article-sttl {font-size:18px; line-height:20px; color:#444; padding:18px 0 10px 0; letter-spacing:-2px;}
.article-txt {padding: 10px 0; font-size:16px; line-height:28px; color:#444;}
.article-txt p, .article-txt li, .article-txt dd {padding:10px 0; font-size:16px; line-height:28px;}
.article-options a:hover img {opacity:0.5;}
.article-image, .imageNone, .imageLeft, .imageRight, .imageBox {background-color:#F3F4F6; padding:15px; text-align:center; margin-bottom:15px;} 
.article-image, .imageNone, .imageBox {margin:0 auto 15px auto;}
.imageLeft {float:left; margin-right:15px; clear:left;}
.imageRight {float:right; margin-left:15px; clear:right;}
.article-image p, .imageNone .caption, .imageLeft .caption, .imageRight .caption, .imageBox .caption {font-size:12px; line-height:16px; color:#666; text-align:left;}
.article-txt .source {font-size:11px; line-height:24px; color:#666; text-align:center; border-top:#eee solid 3px; border-bottom:#eee solid 1px;}

.article-layer {text-align:center; margin:0 auto;}
.article-layer p {font-size:11px; line-height:16px; padding:0 25px; text-align:left;}
.article-slide {position:relative; background-color:#F3F4F6; padding-top:15px; padding-bottom:35px;}
.article-photo {position:relative; background-color:#F3F4F6; padding-top:15px; padding-bottom:15px;}
.article-photo * {color:#666;}
.article-video {position:relative; background-color:#333; padding-top:15px; padding-bottom:15px; margin-bottom:25px;}
.article-video .fl {width:350px; margin-left:20px;}
.article-video .fr {width:255px; color:#ddd; padding:15px 0; margin-right:20px;}

.default {width: 990px; height: 35px;}
.fixed {position: fixed; bottom: -5px; left: 0; width: 100%; z-index:9999;}

.ad_300x250, .side-sp, .side-banner {width:100%; margin:0 auto 10px auto; overflow: hidden; background:url(../images/bg-dissolve.gif) 0 0 repeat #F4F4F4; padding:10px 0; text-align:center !important; border-radius:2px;}
.ad_300x250 table {display:inline-table;}
.ad_650 {width:630px; margin:10px auto; overflow: hidden; background:url(../images/bg-dissolve.gif) 0 0 repeat #F4F4F4; padding:10px; text-align:center; border-radius:2px;}
.ad_728x90 {width:100%; height:90px; margin:10px auto; overflow: hidden; text-align:center !important;}
.ad_728x90 table {display:inline-table;}
.ad_360x50 {width:360px; height:50px; overflow: hidden; background:#F4F4F4; text-align:center;}
.ad_468x60 {width:100%; margin:0 auto; overflow: hidden; text-align:center;}
.ad_650x100 {margin:0 auto; overflow: hidden; text-align:center;}
.ad_400x100 {margin:10px auto; padding:0; text-align:center;}
.ad_150x170 {width:150px; height:170px; margin:10px auto; overflow: hidden; background: #F4F4F4; text-align:center;}
.ad_200 {width:200px; margin:5px auto; text-align:center;}
.md-bn {width:100%; background-color:#f3f6fa; padding-top:5px;}
.art-bn {width:300px; margin-right:15px; clear:left; float:left;}

.p-subsection .bk-listbasic1 .art-ttl {font-size:18px; line-height:20px;}

#serm-title a, #serm-title a:hover {color:#fffffe !important;}
.banhidden div { display:none; }

.art-social .btn-facebook , .art-social .btn-twitter { padding: 8px 20px;color: white;font-size: 1rem; }
.art-social .btn-facebook { background-color: #39579a; }
.art-social .btn i { font-size: 17px;margin-right: 6px;height: 21px;line-height: 21px;display: inline-block;vertical-align: middle; }

.art-social .btn-twitter { background-color: #23cbff; } 

/* sidebar sermon box */ 
.mn_sermon_wrap { background-color: #efefef;width: 100%; }
.mn_sermon_box { width: 305px;box-sizing: border-box;margin: 0 auto;background-color: white;border: 1px solid #52a4dc;color: white; }
.mn_sermon_tlt { background-color: #4ca0dc;margin:0 auto;width:200px;border-bottom-left-radius: 50px;border-bottom-right-radius: 50px;font-weight: bold; }
.mn_sermon_stlt { background-color: #d7edf8;width: 280px;margin: 9px auto;box-sizing: border-box;padding: 0px 5px; }
.mn_sermon_stlt h3 { float:left;color: #1b459b;font-size: 10pt; } 
.mn_sermon_list { box-sizing: border-box;padding: 0px 5px 5px 5px; }
.mn_sermon_list div { float:left;width:33.3%;box-sizing:border-box;margin-bottom: 12px; }
.mn_sermon_list div img { width:90%;border: 1px solid #b9b9b9;}
.mn_sermon_list div p { display: block; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; }