/*------------------------------------*\
    $HOMEPAGE
\*------------------------------------*/
*{
	font-family: sans-serif;
}
.bd-l {
	border-left: 1px solid #eaeaea;
}
.bd-b {
	border-botom: 1px solid #eaeaea;
}
.subtitle {
  font-size: 17px;
  line-height: 21px;
  color: #777;
}

summary {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}

.title {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
}

.related {
  font-weight: bold;
  line-height: 17px;
  line-height: 21px;
}
.related li {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 30px;
  position: relative;
}
.related li::before {
  content: "";
  width: 3px;
  height: 4px;
  border-left: 2px solid #bebebe;
  border-bottom: 2px solid #bebebe;
  position: absolute;
  top: 9px;
  left: 13px;
}

.feature figure {
  margin-bottom: 16px;
}
.feature .subtitle {
  margin-bottom: 10px;
  margin-left: 10px;
}
.title_s {
	padding-left:10px;
	font-size:10pt;
	font-weight: 600;
}
.subfeature .mp1{
	
}
.feature .title {
  font-size: 45px;
  line-height: 50px;
  margin-bottom: 25px;
  text-align: center;
}
.feature summary {
  font-size: 13px;
  margin-left: 10px;
}
.subfeature {
  border-top: 1px solid #eaeaea;
  padding-top: 9px;
  clear:both;
}

.subfeature .title {
  font-size: 11pt;
  margin-bottom: 10px;
  margin-right: 10px;
}
.subfeature figure {
  width: 100%;
  margin-right: 15px;
  margin-bottom: 10px;
}
.subfeature_l {
  border-top: 1px solid #eaeaea;
  padding-top: 19px;
  clear:both;
  float:left;
  width:60%;
}
.subfeature_l .title {
  font-size: 14px;
  margin-bottom: 10px;
}
.subfeature_l figure {
  width: 270px;
  margin-right: 15px;
  margin-bottom: 10px;
  float:left;
  width:55%;
}
.subfeature_l summary {
  font-size: 12px;
  margin-bottom: 14px;
  float:left;
  width:40%;
}
.subfeature_l ul
{
	clear:both;
}
.subfeature_l ul li
{
	font-size:14px;
}
.jslider-scalable-new-hldr {
  position: relative;
  width:100%;
}  
  
.jslider-scalable-new {
  width:100%;
  height:220px;
  overflow:hidden;
}

.jslider-grid.scalable-grid.scalable-grid--max-4 {
  transition:-ms-transform 0.5s ease 0s, -webkit-transform 0.5s ease 0s, transform 0.5s ease 0s;
  position:relative;
  white-space:nowrap;
}

.item-container {
    display: inline-block;
    margin: 4px;
    vertical-align: top;
  width:23%;
  height:220px;
}
.item-container img{
	height:160px;
}

.slider-btn-hldr-left {
  left: -32px;
}

.slider-btn-hldr-right {
  right: -32px;
}

.slider-btn-hldr {
    bottom: 0;
    display: block;
    padding: 0;
  width: 24px;
    position: absolute;
    top: 40%;
    z-index: 1;
}

.slider-btn {
  background-color: transparent;
    border: 0 none;
    color: buttontext;
    cursor: pointer;
    display: block;
}

#left-btn {
      display: none;
}

.slider-btn svg{
  width: 24px;
  height: 24px;
}
  
.scalable-grid .item {
  margin-left: 0;
  border:1px solid #eaeaea;
  float: left;
}

.feature-list {
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
  margin-top: 17px;
  padding-bottom: 20px;
  float:left;
}
.feature-list figure {
  width: 145px;
  margin-right: 15px;
}
.feature-list .title {
  margin-bottom: 5px;
}
.feature-list > li {
  padding-top: 15px;
}
.mid {
	border-top:3px solid #4a69a5;
	margin-top:35px;
	padding-top:20px;
}
.mid .title{
  color: #353535;
  font-weight: 900;
  font-size: 19px;
  padding-bottom: 10px;
}
.mid h5 {
	font-size:15px;
	line-height:22px;
	margin-bottom:10px;
}
.mid summary {
	color:#333;
	margin-bottom: 20px;
}
.block figure {
	position:relative;
	margin-bottom:20px;
}

.block-title {
  color: #353535;
  font-weight: 900;
  font-size: 19px;
  line-height: 35px;
  border-top:1px solid #eaeaea;
  padding-top:15px;
}

ul.list {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}
ul.list li {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 16px;
  position: relative;
}
ul.list li::before {
  content: "";
  display: block;
  width: 2px;
  height: 2px;
  background-color: #222;
  position: absolute;
  left: 2px;
  top: 12px;
}

.event-news {
  color: #353535;
}
.event-news .block-title {
  border-bottom-width: 0;
  padding: 10px;
}
.event-news ul.list {
  border: 1px solid #eaeaea;
  background-color: #f9f9f9;
  padding: 10px;
}
.ad-ban li{
	margin-bottom:10px;
	width:100%;
}
.topic {
  margin-bottom: 30px;
  padding-right:10px;
}
.topic .block-title {
  border-top: 5px solid #075bb5;
  font-weight: 900;
  font-size: 16px;
  line-height: 38px;
  margin-bottom: 16px;
}
.topic .block-title .more {
  font-weight: 400;
  font-size: 13px;
  color: #206ba9;
}
.topic .block-title .more:hover {
  text-decoration: underline;
}
.topic article {
  border-bottom: 1px solid #d7d7d7;
  padding-bottom: 14px;
  margin-bottom: 10px;
}
.topic article figure {
  width: 78px;
  margin-right: 15px;
}
.topic article .title {
  color: #353535;
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
}
.topic article .subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #206ba9;
  margin-top: 4px;
}
.topic.books article {
  margin-bottom: 14px;
}
.topic.books article figure {
  width: 65px;
}

.side-block {
  margin-bottom: 30px;
  
}
.side-block:last-of-type article {
  border-bottom: 0;
}
.side-block .block-title {
  position: relative;
}
.side-block .block-title::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}
.side-block figure {
  margin-left: 20px;
}
.side-block figure a {
  display: block;
  width: 51px;
  height: 51px;
  overflow: hidden;
  position: relative;
  background-color: black;
}
.side-block figure a img {
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: auto;
  max-width: inherit;
  transform: translateX(-50%);
}
.side-block .dot {
  height: 5px;
  width: 5px;
  margin-right:5px;
  margin-top:5px;
  float:right;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}
.side-block .category {
  color: #206ba9;
  font-size: 13px;
  line-height: 13px;
  margin-top: 3px;
  margin-bottom: 5px;
}
.side-block .title {
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
}
.side-block summary {
  font-size: 14px;
  line-height: 20px;
  color: #333;
}
.side-block article {
  border-bottom: 1px solid #eaeaea;
  padding-top: 13px;
  padding-bottom: 13px;
  position: relative;
  clear:both;
}
.side-block article > .flex-xs {
  margin-top: 10px;
  margin-bottom: 10px;
}
.side-block.opinion .block-title::before {
  width: 25px;
  height: 19px;
}
.side-block.opinion figure a {
  border-radius: 50%;
}
.side-block.opinion summary {
  margin-top: 8px;
}
.side-block.opinion img{
	padding-left:10px;
}
.dot_list{
	vertical-align:middle;
}
.tl_l {
	font-size:8pt;
}
.tl_r {
	font-size:8pt;
}

.block-title::before {
  width: 27px;
  height: 21px;
}
.row .popular article .title {
  counter-increment: step;
  position: relative;
  padding-left: 22px;
}
.row .popular article .title::before {
  content: counter(step);
  font-weight: bold;
  font-size: 14px;
  position: absolute;
  top: 0;
  left: 0;
}
.photos {
  background-color: black;
  position: relative;
  padding-top: 19px;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.photos .block-title {
  color: white;
  padding-left: 37px;
  padding-right: 37px;
  padding-bottom: 19px;
}
.photos li {
  padding-left: 8px;
  padding-right: 8px;
}
.photos li .info {
  background-color: rgba(255, 255, 255, 0.6);
  padding: 18px;
}
.photos li .title {
  font-weight: 900;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 30px;
}
.photos li .byline {
  font-size: 13px;
  line-height: 22px;
  color: #333;
}
.photos li.slick-active .info {
  background-color: white;
}
.photos .slick-arrow {
  font-size: 0;
  width: 17px;
  height: 17px;
  cursor: pointer;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-left: 6px;
}
.photos .slick-prev {
  background-image: url(/views/images/2020/ico_prev.gif);
}
.photos .slick-next {
  background-image: url(/views/images/2020/ico_next.gif);
}
.pad-t {
	padding-top: 60px;
	color:darkgray;
	font-size:9pt;
}
@media only screen and (max-width: 767px) {
  .col-l > div.row {
    display: flex;
    flex-direction: column;
  }
  .col-l > div.row .col-sm-8 {
    order: 1;
  }
  .col-l > div.row .col-sm-4 {
    order: 2;
  }
}
@media only screen and (min-width 320px) and (max-width 480px) {
  .col-l > div.row {
    display: flex;
    flex-direction: column;
  }
  .col-l > div.row .col-sm-8 {
    order: 1;
  }
  .col-l > div.row .col-sm-4 {
    order: 2;
  }
}
